<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        <strong>OOPS! Page NotFound</strong>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>