<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, quo?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, quo?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>