<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
    </nav>
    <h1>Testing</h1>
    <div class="container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsam tenetur delectus corporis quis commodi dolorum molestias soluta impedit, odio eaque id recusandae libero ea illo laudantium voluptate odit dolorem atque labore eius nulla. Voluptatum nesciunt quia vel delectus consectetur, porro eaque quibusdam aut assumenda provident tempore fugit quae soluta?</p>
    </div>
</body>
</html>